<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- chat message -->
      <app-chat-message text="Que imagen deseas generar" />
      @for(message of messages(); track $index ){ @if(message.isGtp){
      <app-chat-message [text]="message.text" [imageInfo]="message.iamgeInfo" />
      } @else {
      <app-my-message [text]="message.text" />
      } } @if(isLoading()){
      <app-typing-loader />
      }
    </div>
  </div>

  <!-- messages box -->
  <app-text-message-box
    placeholder="Escribe aqui tu mensaje"
    (onMessage)="handleMessage($event)"
  />

  <!-- <app-text-message-box-file
    placeholder="Escribe aqui tu mensaje"
    (onMessage)="handleMessageWithFile($event)"
  /> -->
  <!-- <app-text-message-box-select
    placeholder="Escribe aqui tu mensaje"
    [options]="[
      { id: '1', text: 'Uno' },
      { id: '2', text: 'Dos' }
    ]"
    (onMessage)="handleMessageWithSelect($event)"
  /> -->
</div>
