<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- chat message -->
      <app-chat-message text="Escribe el texto que quieres que revise" />
      @for(message of messages(); track $index ){ @if(message.isGtp){
      <app-gpt-message-orthograpy
        [text]="message.text"
        [errors]="message.info!.errors"
        [userScore]="message.info!.userScore"
      />
      <!-- <app-chat-message [text]="message.text" /> -->
      } @else {
      <app-my-message [text]="message.text" />
      } } @if(isLoading()){

      <app-typing-loader />
      }
    </div>
  </div>

  <!-- messages box -->
  <app-text-message-box
    placeholder="Escribe aqui tu mensaje"
    (onMessage)="handleMessage($event)"
    [disabledCorrection]="true"
  />
</div>
